tugas2/B2-c14210026.xml

<!-- B2 - james - c14210026 -->
<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:esri="http://www.esri.com/schemas/ArcGIS/9.0"
            targetNamespace="http://www.esri.com/schemas/ArcGIS/9.0">
    <xsd:element name="Value" type="esri:Polygon" />
    <xsd:complexType name="Polygon">
        <xsd:sequence>
            <xsd:element name="HasID" type="xsd:boolean" />
            <xsd:element name="HasZ" type="xsd:boolean" />
            <xsd:element name="HasM" type="xsd:boolean" />
            <xsd:element name="Extent" type="esri:Envelope" />
            <xsd:element name="RingArray" type="esri:ArrayOfRing" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Envelope">
        <xsd:sequence>
            <xsd:element name="XMin">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:fractionDigits value="12" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="YMin">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:fractionDigits value="12" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="XMax">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:fractionDigits value="12" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="YMax">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:fractionDigits value="12" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ZMin" type="xsd:integer" />
            <xsd:element name="ZMax" type="xsd:integer" />
            <xsd:element name="MMin" type="xsd:integer" />
            <xsd:element name="MMax" type="xsd:integer" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfRing">
        <xsd:sequence>
            <xsd:element name="Ring" type="esri:Ring" minOccurs="0" maxOccurs="2" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Ring">
        <xsd:choice minOccurs="1" maxOccurs="1">
            <xsd:element name="SegmentArray" type="esri:ArrayOfSegment" minOccurs="0" />
            <xsd:element name="PointArray" type="esri:ArrayOfPoint" minOccurs="0" />
        </xsd:choice>
    </xsd:complexType>
    <!-- buat segment -->
    <xsd:complexType name="ArrayOfSegment">
        <xsd:sequence>
            <xsd:element name="Segment" type="esri:Line" minOccurs="0" maxOccurs="4" />
        </xsd:sequence>
    </xsd:complexType>
    <!-- buat Point -->
    <xsd:complexType name="ArrayOfPoint">
        <xsd:sequence>
            <xsd:element name="Point" type="esri:Point" minOccurs="0" maxOccurs="6" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Line">
        <xsd:sequence>
            <xsd:element name="FromPoint" type="esri:Point" />
            <xsd:element name="ToPoint" type="esri:Point" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CircularArc">
        <xsd:complexContent>
            <xsd:extension base="esri:Line">
                <xsd:sequence>
                    <xsd:element name="CenterPoint" type="esri:Point" />
                    <xsd:element name="IsCounterClockwise" type="xsd:boolean" />
                    <xsd:element name="IsMinor" type="xsd:boolean" />
                    <xsd:element name="IsLine" type="xsd:boolean" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Point">
        <xsd:sequence>
            <xsd:element name="X">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:fractionDigits value="12" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Y">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:fractionDigits value="12" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="M" type="xsd:string" minOccurs="0" nillable="true" />
            <xsd:element name="Z" type="xsd:decimal" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>